*{
    padding: 0;
    margin: 0;
}

.div{
    width: 1366px;
    height: 60px;
    background-color: #08554F;
}

.img{
    width: 400px;
    height: 60px;
}

.q{
    font-size: 15px;
    margin-left: 500px;
    margin-top: -55px;
}

.w{
    font-size: 15px;
    margin-left: 750px;
    margin-top: -35px;
}

.e{
    font-size: 15px;
    margin-left: 1100px;
    margin-top: -35px;
}

.ddd{
    color: #fff;
    cursor: pointer;
}

.zxcvb{
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
}

.d{
    margin-left: 70px;
    margin-top: -45px;
    cursor: pointer;
}

.dr{
    width: 50px;
    height: 50px;
    margin-top: 30px;
    margin-left: 10px;
}

.iy{
    width: 50px;
    height: 50px;
    margin-top: 30px;
    margin-left: 10px;
}

.f{
    margin-left: 70px;
    margin-top: -45px;
    cursor: pointer;
}

.gt{
    width: 300px;
    height: 280px;
}

.ade{
    font-size: 60px;
    color: #CEC7C6;
    
}

.de{
    width: 300px;
    height: 600px;
    background-color: #575A5D;
    margin-top: -839px;
}

.dis{
    margin-left: 350px;
    margin-top: -500px;
    font-size: 20px;
    color: #CEC7C6;
}


.h{
    text-decoration: none;
    color: white;
}






















































































































































